AI_SERVICE_URL=https://diabetes-ai-service.onrender.com
API_URL=https://diabetes-backend.onrender.com
MONGODB_URI=mongodb+srv://quynhng827:i53OJDqLc39CDSWI@cluster0.kflvoko.mongodb.net/diabetes_db?retryWrites=true&w=majority
